contourpy
cycler
dtw-python
eral
fonttools
joblib
kiwisolver
line_profiler
llvmlite
matplotlib
mysql-connector-python
numba
numpy
packaging
pandas
pillow
PyMySQL
pyparsing
pyserial
python-dateutil
pytz
scikit-learn
scipy
seral
six
SQLAlchemy
threadpoolctl
tslearn
typing_extensions
tzdata
