contourpy==1.3.1
cycler==0.12.1
dtw-python==1.5.3
eral==1.0.2
fonttools==4.55.2
joblib==1.4.2
kiwisolver==1.4.7
line_profiler==4.2.0
llvmlite==0.42.0
matplotlib==3.9.3
mysql-connector-python==9.1.0
numba==0.59.1
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pillow==11.0.0
PyMySQL==1.1.1
pyparsing==3.2.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.6.0
scipy==1.14.1
seral==0.0.3
six==1.17.0
SQLAlchemy==2.0.36
threadpoolctl==3.5.0
tslearn==0.6.3
typing_extensions==4.12.2
tzdata==2024.2
